input-component {
    display: block;
    width: 100%;
    position: relative;
    box-sizing: border-box;

    &[disabled] {
        input {
            border-color: var(--neutral-300) !important;
            background-color: var(--neutral-100) !important;
            cursor: not-allowed !important;
            box-shadow: none !important;
        }
        label {
            color: var(--neutral-700) !important;
        }
    }

    &.has-value {
        label {
            transform: translateY(0.25rem) scale(0.75);
        }
    }

    &.is-invalid {
        input {
            border-color: var(--danger-500) !important;

            &:focus {
                box-shadow: 0 0 6px rgba(245, 101, 101, 0.1), 0 0 3px rgba(245, 101, 101, 0.06) !important;
            }

            &:hover {
                box-shadow: 0 0 6px rgba(245, 101, 101, 0.1), 0 0 3px rgba(245, 101, 101, 0.06) !important;
            }
        }
        span {
            opacity: 1;
        }
        label {
            color: var(--danger-700) !important;
            transform: translateY(0.25rem) scale(0.75);
        }
    }

    input {
        background-color: var(--white);
        box-sizing: border-box;
        display: block;
        width: 100%;
        text-overflow: ellipsis;
        color: var(--neutral-700);
        line-height: 1;
        height: 56px;
        padding: 1.5rem 1rem 0.625rem;
        border-radius: 0.25rem;
        border: 1px solid var(--neutral-300);
        box-shadow: none;
        outline: none;
        transition: all 150ms var(--ease-in-out);

        &:focus {
            border-color: var(--primary-400);
            box-shadow: var(--shadow-sm);

            & + label {
                transform: translateY(0.25rem) scale(0.75);
                color: var(--primary-700);
            }
        }

        &:hover {
            border-color: var(--primary-400);
            box-shadow: var(--shadow-sm);

            & + label {
                color: var(--primary-700);
            }
        }
    }

    label {
        color: var(--grey-700);
        user-select: none;
        position: absolute;
        top: 0;
        transform-origin: left center;
        transform: translateY(1.25rem) scale(1);
        left: 1rem;
        pointer-events: none;
        transition: all 150ms var(--ease-in-out);
    }
}
