.game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 2rem;
    position: fixed;
    top: 0;
    left: 0;

    .tabletop-info {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        z-index: 1000;
        display: flex;
        align-items: center;
        width: calc(100vw - 1rem);
        justify-content: space-between;
        pointer-events: none;

        button{
            pointer-events: all;
        }
    }

    .icon-button-toggle {
        color: var(--grey-600);
        padding: 0;
        cursor: pointer;
        transition: all 150ms var(--ease-in-out);
        width: 36px;
        height: 36px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.25rem;
        border: 1px solid var(--grey-400);

        &:not(:last-of-type) {
            margin-right: 0.25rem;
        }

        &::before {
            content: "";
            display: inline-block;
            width: 100%;
            height: 100%;
            opacity: 0;
            background-color: var(--grey-900);
            transition: all 150ms var(--ease-in-out);
            position: absolute;
            top: 0;
            left: 0;
        }

        &:hover,
        &:focus {
            color: var(--grey-700);
            border-color: var(--grey-500);

            &::before {
                opacity: 0.05;
            }
        }
        &:active {
            color: var(--primary-700);
            border-color: var(--primary-400);
            box-shadow: 0 0 0 2px var(--primary-200);

            &::before {
                background-color: var(--primary-500);
                opacity: 0.1;
            }
        }

        &:disabled{
            cursor: not-allowed !important;
            color: var(--grey-400) !important;
            border-color: var(--grey-400) !important;
            box-shadow: none !important;
            
            &::before{
                display: none !important;
            }
        }

        .badge{
            position: absolute;
            top: -4px;
            right: -4px;
            user-select: none;
            width: 0.75rem;
            height: 0.75rem;
            display: inline-flex;
            justify-content: center;
            align-items: center;

            &::after{
                content: "";
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: var(--primary-500);
                position: absolute;
                top: 0;
                left: 0;
                animation: badgeGlow 1s var(--ease-in-out) infinite;
            }
            &::before{
                content: "";
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: var(--primary-500);
                opacity: 0.87;
                transform: scale(0);
                animation: badgePing 1s cubic-bezier(0,0,.2,1) infinite;
            }
        }
    }

    .info-modal {
        background-color: var(--white);
        border-radius: 0.25rem;
        border: 1px solid var(--grey-200);
        box-shadow: var(--shadow-sm);
        padding: 0.5rem 1rem;
        position: absolute;
        top: calc(36px + 1rem);
        left: 2px;
        width: 256px;
        display: flex;
        flex-flow: row wrap;
        z-index: 1000;

        dt,
        dd {
            display: inline-flex;
            align-items: center;
            flex-flow: row nowrap;
            color: var(--grey-700);
            height: 36px;
        }

        dt {
            font-weight: var(--font-medium);
            width: 33.33%;
        }

        dd {
            width: 66.66%;

            &.player-menu {
                justify-content: space-between;
                border-radius: 0.25rem;

                &:hover,
                &:focus-within {
                    background-color: var(--grey-100);

                    .player-menu-modal {
                        opacity: 1;
                        visibility: visible;
                    }
                }

                .player-menu-modal {
                    background-color: var(--white);
                    border-radius: 0.25rem;
                    border: 1px solid var(--grey-200);
                    box-shadow: var(--shadow-sm);
                    padding: 0.5rem;
                    position: absolute;
                    top: 0;
                    left: calc(100% + 0.5rem);
                    width: 128px;
                    opacity: 0;
                    visibility: hidden;
                    transition: all 150ms var(--ease-in-out);
                    min-width: 196px;

                    li {
                        display: flex;
                        height: 36px;
                        width: 100%;
                        align-items: center;
                        justify-content: space-between;
                        flex-flow: row nowrap;
                        color: var(--grey-700);
                        padding: 0 4px 0 0.5rem;
                        border-radius: 0.25rem;
                        transition: all 150ms var(--ease-in-out);
                        font-weight: var(--font-medium);
                        font-size: var(--font-sm);

                        &:hover,
                        &:focus-within {
                            color: var(--grey-800);
                            background-color: var(--grey-100);
                        }

                        span{
                            max-width: 175px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }

                    button {
                        color: var(--grey-500);
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        width: 28px;
                        height: 28px;

                        &::before {
                            content: "";
                            display: inline-block;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: var(--danger-500);
                            opacity: 0.1;
                            transform: scale(0);
                            transition: all 150ms var(--ease-bounce);
                            border-radius: 50%;
                        }

                        &:hover,
                        &:focus {
                            color: var(--danger-800);

                            &::before {
                                transform: scale(1);
                            }
                        }

                        &:active {
                            color: var(--danger-900);

                            &::before {
                                opacity: 0.15;
                            }
                        }

                        svg {
                            width: 14px;
                            height: 14px;
                        }
                    }
                }
            }

            .bttn {
                position: relative;
                display: inline-flex;
                align-items: center;
                flex-flow: row nowrap;
                color: var(--grey-700);
                padding: 0 0.125rem 0 0.25rem;
                margin-left: 0.25rem;

                &:hover,
                &:focus {
                    color: var(--primary-700);

                    &::before {
                        transform: scale(1);
                    }
                }

                &:active {
                    color: var(--primary-800);

                    &::before {
                        opacity: 0.15;
                    }
                }

                &::before {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: var(--primary-500);
                    opacity: 0.1;
                    transform: scale(0);
                    transition: all 150ms var(--ease-bounce);
                    border-radius: 0.25rem;
                }
            }

            i {
                width: 24px;
                height: 24px;
                display: inline-flex;
                justify-content: center;
                align-items: center;

                svg {
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }

    .entity-spawn-modal {
        background-color: var(--white);
        border-radius: 0.25rem;
        border: 1px solid var(--grey-200);
        box-shadow: var(--shadow-sm);
        padding: 0.5rem;
        position: absolute;
        width: 225px;
        display: flex;
        flex-flow: row wrap;
        z-index: 1000;

        button {
            display: flex;
            width: 100%;
            height: 36px;
            align-items: center;
            padding: 0 0.5rem;
            cursor: pointer;
            color: var(--grey-700);
            font-size: var(--font-sm);
            transition: all 150ms var(--ease-in-out);
            overflow: hidden;
            border-radius: 0.25rem;
            position: relative;

            &.danger {
                &:active {
                    color: var(--danger-800);

                    &::before {
                        background-color: var(--danger-500);
                    }
                }
            }

            &:hover,
            &:focus {
                color: var(--grey-800);

                &::before {
                    background-color: var(--grey-500);
                }
            }

            &:active {
                color: var(--primary-700);

                &::before {
                    background-color: var(--primary-500);
                }
            }

            &::before {
                content: "";
                display: inline-block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                transition: all 150ms var(--ease-in-out);
                border-radius: 0.25rem;
                opacity: 0.15;
                background-color: transparent;
            }

            i {
                display: inline-flex;
                width: 24px;
                height: 24px;
                justify-content: center;
                align-items: center;
                margin-right: 0.5rem;

                svg {
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }

    .tabletop-modal {
        background-color: var(--white);
        border-radius: 0.25rem;
        border: 1px solid var(--grey-200);
        box-shadow: var(--shadow-sm);
        padding: 0.5rem;
        position: absolute;
        top: calc(36px + 1rem);
        left: calc(36px * 4 + 0.25rem * 4 + 0.5rem);
        width: 225px;
        display: flex;
        flex-flow: row wrap;
        z-index: 1000;

        button {
            display: flex;
            width: 100%;
            height: 36px;
            align-items: center;
            padding: 0 0.5rem;
            cursor: pointer;
            color: var(--grey-700);
            font-size: var(--font-sm);
            transition: all 150ms var(--ease-in-out);
            overflow: hidden;
            border-radius: 0.25rem;
            position: relative;

            &.danger {
                &:active {
                    color: var(--danger-800);

                    &::before {
                        background-color: var(--danger-500);
                    }
                }
            }

            &:hover,
            &:focus {
                color: var(--grey-800);

                &::before {
                    background-color: var(--grey-500);
                }
            }

            &:active {
                color: var(--primary-700);

                &::before {
                    background-color: var(--primary-500);
                }
            }

            &::before {
                content: "";
                display: inline-block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                transition: all 150ms var(--ease-in-out);
                border-radius: 0.25rem;
                opacity: 0.15;
                background-color: transparent;
            }

            i {
                display: inline-flex;
                width: 24px;
                height: 24px;
                justify-content: center;
                align-items: center;
                margin-right: 0.5rem;

                svg {
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }

    .image-upload-modal,
    .popup-image-upload-modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 420px;
        max-width: calc(100vw - 2rem);
        max-height: calc(100vh - 2rem);
        overflow-y: auto;
        background-color: var(--white);
        border-radius: 0.5rem;
        border: 1px solid var(--grey-100);
        box-shadow: var(--shadow-xl);
        padding: 1rem;
        z-index: 1000;

        .file-upload-input {
            display: block;
            width: 100%;
            position: relative;

            i {
                width: 24px;
                height: 24px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                color: var(--grey-700);
                margin-right: 0.5rem;
                position: absolute;
                bottom: calc((48px - 24px) / 2);
                left: 0.5rem;

                svg {
                    width: 18px;
                    height: 18px;
                }
            }

            input {
                padding-left: calc(1rem + 24px);
            }
        }

        .tabletop-settings-toggle{
            display: flex;
            width: 100%;
            height: 48px;
            align-items: center;
            justify-content: space-between;
            padding: 0 1rem;
            color: var(--grey-700);
            transition: all 150ms var(--ease-in-out);
            position: relative;
            font-weight: var(--font-medium);

            &:hover,
            &:focus{
                color: var(--grey-800);

                &::before{
                    opacity: 0.1;
                }
            }
            &:active{
                color: var(--grey-800);

                &::before{
                    opacity: 0.15;
                }
            }
            
            &::before{
                content: "";
                display: inline-block;
                width: 100%;
                height: 100%;
                border-radius: 0.25rem;
                background-color: var(--grey-500);
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                transition: all 150ms var(--ease-in-out);
            }

            i{
                width: 24px;
                height: 24px;
                display: inline-flex;
                justify-content: center;
                align-items: center;

                svg{
                    width: 16px;
                    height: 16px;
                    transition: all 150ms var(--ease-in-out);
                }
            }
        }
    }

    .custom-creature-modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 460px;
        max-width: calc(100vw - 2rem);
        max-height: calc(100vh - 2rem);
        background-color: var(--white);
        border-radius: 0.5rem;
        border: 1px solid var(--grey-100);
        box-shadow: var(--shadow-xl);
        padding: 1rem;
        padding-top: 0.75rem;
        z-index: 1000;
    }

    .monster-lookup-modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 420px;
        max-width: calc(100vw - 2rem);
        max-height: calc(100vh - 2rem);
        background-color: var(--white);
        border-radius: 0.5rem;
        border: 1px solid var(--grey-100);
        box-shadow: var(--shadow-xl);
        padding: 1rem;
        z-index: 1000;

        .lookup-list {
            position: absolute;
            top: calc(100% + 0.25rem);
            left: 0;
            width: 100%;
            background-color: var(--white);
            box-shadow: var(--shadow-md);
            border-radius: 0.5rem;
            border: 1px solid var(--grey-100);
            padding: 0.5rem;
            z-index: 5;
            max-height: 232px;
            overflow-y: auto;

            button {
                width: 100%;
                min-height: 36px;
                display: flex;
                align-items: center;
                text-transform: capitalize;
                padding: 0 0.5rem;
                transition: all 150ms var(--ease-in-out);
                color: var(--grey-700);

                &:hover,
                &:focus {
                    color: var(--grey-800);

                    &::before {
                        background-color: var(--grey-500);
                    }
                }

                &:active {
                    color: var(--primary-700);

                    &::before {
                        background-color: var(--primary-500);
                    }
                }

                &::before {
                    content: "";
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transition: all 150ms var(--ease-in-out);
                    border-radius: 0.25rem;
                    opacity: 0.15;
                    background-color: transparent;
                }
            }
        }
    }

    .settings-modal{
        background-color: var(--white);
        border-radius: 0.25rem;
        border: 1px solid var(--grey-200);
        box-shadow: var(--shadow-sm);
        padding: 0.5rem;
        position: absolute;
        top: calc(36px + 1rem);
        right: 0.5rem;
        width: 250px;
        z-index: 1000;

        button,
        a {
            display: flex;
            width: 100%;
            height: 36px;
            align-items: center;
            padding: 0 0.5rem;
            cursor: pointer;
            color: var(--grey-700);
            font-size: var(--font-sm);
            transition: all 150ms var(--ease-in-out);
            overflow: hidden;
            border-radius: 0.25rem;
            position: relative;
            text-decoration: none;

            &.danger {
                &:active {
                    color: var(--danger-800);

                    &::before {
                        background-color: var(--danger-500);
                    }
                }
            }

            &:hover,
            &:focus {
                color: var(--grey-800);

                &::before {
                    background-color: var(--grey-500);
                }
            }

            &:active {
                color: var(--primary-700);

                &::before {
                    background-color: var(--primary-500);
                }
            }

            &::before {
                content: "";
                display: inline-block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                transition: all 150ms var(--ease-in-out);
                border-radius: 0.25rem;
                opacity: 0.15;
                background-color: transparent;
            }

            i {
                display: inline-flex;
                width: 24px;
                height: 24px;
                justify-content: center;
                align-items: center;
                margin-right: 0.5rem;

                svg {
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }

    .modal-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        cursor: default;
        padding: 0;
        margin: 0;
    }
}
.ping {
    width: 48px;
    height: 48px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    pointer-events: none;
    z-index: 1000;

    i {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        box-shadow: var(--shadow-lg);
        animation: ping 2000ms 0ms var(--ease-in-out);

        &::after {
            content: "";
            display: inline-block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: var(--warning-400);
            border: 1px solid var(--warning-500);
            opacity: 0.87;
            position: absolute;
            z-index: 2;
        }

        &::before {
            z-index: 1;
            content: "";
            display: inline-block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: var(--warning-400);
            opacity: 0.2;
            animation: pingRing 600ms 0ms var(--ease-in-out) infinite;
            position: absolute;
        }

        svg {
            z-index: 3;
            width: 18px;
            height: 18px;
            color: var(--white);
            animation: wiggleIcon 300ms infinite var(--ease-in-out);
            transform: rotate(-15deg);
        }
    }
}
@keyframes pingRing {
    0% {
        transform: scale(1.15);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1.15);
    }
}
@keyframes wiggleIcon {
    0% {
        transform: rotate(-15deg);
    }
    25% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(15deg);
    }
    75% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-15deg);
    }
}
@keyframes ping {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    7%,
    93% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}
@keyframes badgePing{
    75%,100% {
        transform: scale(2);
        opacity: 0;
    }
}
@keyframes badgeGlow{
    0%{
        background-color: var(--primary-500);
        box-shadow: 0 0 0px var(--primary-100);
    }
    50%{
        background-color: var(--primary-400);
        box-shadow: 0 0 4px var(--primary-100);
    }
    100%{
        background-color: var(--primary-500);
        box-shadow: 0 0 0px var(--primary-100);
    }
}