.game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    padding: 1rem;

    .table {
        background-color: var(--white);
        box-shadow: var(--shadow-md);
        border: 1px solid rgba(#1a202c, 0.6);
        display: inline-block;

        tbody,
        tr {
            display: block;
            width: 100%;

            td {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border: 1px solid rgba(#1a202c, 0.6);
                width: 24px;
                height: 24px;
                transition: border-color 150ms var(--ease-in-out);

                &:hover,
                &:focus-within {
                    border-color: rgba(#1a202c, 0.87);
                }
            }
        }
    }
}
