messenger-component{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 3fr;

    &.-player{
        grid-template-columns: 1fr;
        padding: 0.5rem;
    }

    & > div{
        &:first-of-type{
            &::after{
                content: "";
                display: inline-block;
                width: 1px;
                background-color: var(--grey-200);
                height: calc(100% - 1rem);
                position: absolute;
                top: 0.5rem;
                right: 0;
            }
        }
    }

    ul{
        display: block;
        width: 100%;
        height: 350px;
        overflow-y: scroll;
        
        li{
            display: block;
            width: 100%;
            margin-bottom: 0.5rem;

            &:last-of-type{
                margin-bottom: 0;
            }

            &.outgoing{
                .msg-container{
                    margin-left: auto;
                    margin-right: 0;
                }
                .msg{
                    background-color: var(--primary-700);
                    color: var(--white);
                    border-radius: 0.25rem 0.25rem 0 0.25rem;
                }
                .author{
                    text-align: right;
                }
            }
            &.incoming{
                .msg{
                    background-color: var(--grey-200);
                    color: var(--grey-800);
                    border-radius: 0.25rem 0.25rem 0.25rem 0;
                }
            }

            .msg-container{
                display: block;
                width: 80%;

                .img{
                    display: block;
                    width: 100%;
                    overflow: hidden;
                    border-radius: 0.25rem;
                    cursor: pointer;
                    margin-bottom: 0.25rem;

                    &::before{
                        content: "";
                        display: block;
                        width: 100%;
                        padding-bottom: 56.25%;
                    }

                    &::after{
                        content: "";
                        display: inline-block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        border-radius: 0.25rem;
                        box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
                    }

                    &:hover,
                    &:focus{
                        img{
                            transform: scale(1.05);
                            filter: brightness(1);
                        }
                    }

                    img{
                        transition: all 300ms var(--ease-in-out);
                        filter: brightness(0.95);
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        object-fit: cover;
                    }
                }

                iframe{
                    display: block;
                    width: 100%;
                    height: 225px;
                    margin-bottom: 0.25rem;
                }
            }

            .msg{
                display: block;
                width: 100%;
                line-height: 1.618;
                margin-bottom: 0.25rem;
                padding: 0.5rem 0.75rem;
                font-size: var(--font-sm);

                a{
                    color: var(--white);
                }
            }

            .author{
                display: block;
                width: 100%;
                font-size: var(--font-xs);
                color: var(--grey-700);
                padding: 0 0.25rem;
            }
        }
    }

    textarea{
        height: 0px;
        min-height: 36px;
        line-height: 1.618;
        display: block;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 0.25rem 0.5rem;
        background-color: var(--grey-100);
        border: 1px solid var(--grey-300);
        border-radius: 0.25rem;
        color: var(--grey-900);
        transition: all 150ms var(--ease-in-out), height 0ms 0ms linear;
        resize: none;
        margin-top: 1rem;

        &::placeholder {
            color: var(--grey-700);
        }

        &:hover {
            border-color: var(--primary-400);
        }

        &:focus {
            border-color: var(--primary-400);
            box-shadow: 0 0 0 5px var(--primary-100);
            background-color: var(--white);
        }
    }

    .chat-toggle-button{
        display: flex;
        align-items: center;
        height: 36px;
        width: 100%;
        padding: 0 0.5rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: var(--font-sm);
        color: var(--grey-700);
        transition: all 150ms var(--ease-in-out);
        position: relative;
        border-radius: 0.25rem;
        border: 1px solid var(--grey-300);
        margin-bottom: 0.5rem;

        &:last-of-type{
            margin-bottom: 0;
        }

        &:hover,
        &:focus{
            color: var(--grey-800);
            border-color: var(--primary-400);

            &::before{
                opacity: 0.05;
            }
        }
        &:active{
            color: var(--primary-700);
            border-color: var(--primary-400);
            box-shadow: 0 0 0 4px var(--primary-100);

            &::before{
                opacity: 0.1;
            }
        }

        &.is-active{
            color: var(--primary-700);
            border-color: var(--primary-400);
        }

        &::before{
            content: "";
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--primary-500);
            opacity: 0;
            border-radius: 0.25rem;
            transition: all 150ms var(--ease-in-out);
        }

        .badge{
            position: absolute;
            top: -4px;
            right: -4px;
            user-select: none;
            width: 0.75rem;
            height: 0.75rem;
            display: inline-flex;
            justify-content: center;
            align-items: center;

            &::after{
                content: "";
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: var(--primary-500);
                position: absolute;
                top: 0;
                left: 0;
                animation: badgeGlow 1s var(--ease-in-out) infinite;
            }
            &::before{
                content: "";
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: var(--primary-500);
                opacity: 0.87;
                transform: scale(0);
                animation: badgePing 1s cubic-bezier(0,0,.2,1) infinite;
            }
        }
    }
}