monster-manual{
    display: block;
    width: 100%;
    padding: 0.5rem;

    header{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        border: 1px solid var(--grey-300);
        border-radius: 0.25rem;

        .search{
            flex: 1;
            height: 36px;
            line-height:36px;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0 1rem;
            width: 100%;
            font-size: var(--font-sm);
            color: var(--grey-900);
            transition: all 150ms var(--ease-in-out);

            &::placeholder {
                color: var(--grey-700);
            }
        }

        button{
            height: 36px;
            width: 36px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            flex-flow: row nowrap;
            border-left: 1px solid var(--grey-300);
            color: var(--grey-700);
            font-size: var(--font-sm);
            font-weight: var(--font-medium);
            transition: all 150ms var(--ease-in-out);
            line-height: 1;
            text-transform: uppercase;
            cursor: pointer;

            &:hover,
            &:focus-visible{
                background-color: var(--grey-100);
            }

            &:active{
                background-color: var(--grey-200);
            }

            i{
                width: 24px;
                height: 24px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                
                svg{
                    width: 14px;
                    height: 14px;
                }
            }
        }
    }

    .container{
        overflow-y: scroll;
        max-height: 280px;
        margin-top: 0.5rem;
        border-radius: 0.25rem;
        border: 1px solid var(--grey-300);
        overscroll-behavior: contain;

        table{
            display: block;
            width: 100%;
            padding: 0;

            tbody{
                display: block;
                width: 100%;
                padding: 0;
            }

            tr{
                display: flex;
                flex-flow: row nowrap;
                width: 100%;
                padding: 0;
                content-visibility: auto;

                &:not(:last-of-type){
                    border-bottom: 1px solid var(--grey-300);
                }

                td{
                    height: 36px;
                    display: inline-flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    justify-content: center;
                    color: var(--grey-800);
                    font-size: var(--font-sm);
                    padding: 0;

                    &:nth-child(1){
                        width: 100%;
                        flex: 1;
                        justify-content: flex-start;
                    }

                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4){
                        width: 36px;
                    }

                    .creature-name{
                        transition: all 150ms var(--ease-in-out);
                        cursor: pointer;
                        height: 36px;
                        color: var(--grey-700);
                        padding: 0 0.5rem;
                        width: 100%;
                        text-align: left;

                        &:hover,
                        &:focus-visible{
                            background-color: var(--grey-100);
                        }

                        &:active{
                            background-color: var(--grey-200);
                        }
                    }

                    .bttn{
                        border-left: 1px solid var(--grey-300);
                        transition: all 150ms var(--ease-in-out);
                        cursor: pointer;
                        width: 36px;
                        height: 36px;
                        color: var(--grey-700);
                        padding: 0;

                        &:hover,
                        &:focus-visible{
                            background-color: var(--grey-100);
                        }

                        &:active{
                            background-color: var(--grey-200);
                        }

                        svg{
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
            }
        }
    }
}