moveable-modal{
    visibility:hidden;
    top:0;
    left:0;
    transform:translate(0px,0px);

    &.chat-modal {
        background-color: var(--white);
        border-radius: 0.25rem;
        box-shadow: var(--shadow-lg);
        position: absolute;
        width: 560px;
        overflow: hidden;
        z-index: 1000;
    }

    &.combat-modal {
        background-color: var(--white);
        border-radius: 0.25rem;
        box-shadow: var(--shadow-lg);
        position: absolute;
        width: 300px;
        overflow: hidden;
        z-index: 1000;

        .sync{
            width: 24px;
            height: 24px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            color: var(--grey-100);

            &:hover,
            &:focus {
                color: var(--white);

                &::before {
                    opacity: 0.05;
                    transform: scale(1);
                }
            }

            &:active {
                color: var(--white);

                &::before {
                    opacity: 0.1;
                    transform: scale(1.15);
                }
            }

            &::before {
                content: "";
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: var(--white);
                opacity: 0;
                border-radius: 50%;
                transform: scale(0);
                transition: all 150ms var(--ease-bounce);
            }

            svg {
                width: 16px;
                height: 16px;
            }
        }

        ul {
            display: block;
            width: 100%;

            .entity {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0.5rem 0.5rem 0;
                height: 36px;
                width: calc(100% - 1rem);
                color: var(--grey-700);
                border: 1px solid var(--grey-200);
                border-radius: 0.25rem;

                &:hover,
                &:focus-within {
                    border-color: var(--grey-300);

                    .remove,
                    .handle {
                        border-color: var(--grey-300);
                    }
                }

                span {
                    text-transform: capitalize;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .ping-player {
                    width: 36px;
                    height: 36px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    color: var(--grey-600);
                    border-left: 1px solid var(--grey-200);

                    &:hover,
                    &:focus {
                        color: var(--grey-700);

                        &::before {
                            opacity: 0.025;
                        }
                    }

                    &:active {
                        color: var(--primary-700);

                        &::before {
                            opacity: 0.1;
                            background-color: var(--primary-500);
                        }
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: var(--grey-900);
                        opacity: 0;
                        transition: all 150ms var(--ease-in-out);
                    }

                    svg {
                        width: 16px;
                        height: 16px;
                    }
                }

                .remove {
                    width: 36px;
                    height: 36px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    color: var(--grey-600);
                    border-left: 1px solid var(--grey-200);

                    &:hover,
                    &:focus {
                        color: var(--danger-700);

                        &::before {
                            opacity: 0.05;
                        }
                    }

                    &:active {
                        color: var(--danger-800);

                        &::before {
                            opacity: 0.1;
                        }
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: var(--danger-500);
                        opacity: 0;
                        transition: all 150ms var(--ease-in-out);
                    }

                    svg {
                        width: 16px;
                        height: 16px;
                    }
                }

                .handle {
                    width: 36px;
                    height: 36px;
                    cursor: grab;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 0.5rem;
                    color: var(--grey-700);
                    border-right: 1px solid var(--grey-200);

                    &:hover,
                    &:focus {
                        color: var(--grey-800);

                        &::before {
                            opacity: 0.025;
                        }
                    }

                    &:active {
                        color: var(--grey-900);

                        &::before {
                            opacity: 0.05;
                        }
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: var(--grey-900);
                        opacity: 0;
                        transition: all 150ms var(--ease-in-out);
                    }

                    svg {
                        width: 16px;
                        height: 16px;
                    }
                }

                .flex {
                    display: inline-flex;
                    align-items: center;
                }

                .gm-status {
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: var(--grey-300);
                    transition: all 150ms var(--ease-in-out);

                    &.active {
                        background-color: var(--primary-400);
                        box-shadow: 0 0 0 3px var(--primary-100);
                    }
                }

                .status {
                    width: 36px;
                    height: 36px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;

                    &.active {
                        &::before {
                            background-color: var(--primary-400);
                            box-shadow: 0 0 0 3px var(--primary-100);
                        }
                    }

                    &::before {
                        content: "";
                        display: inline-block;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background-color: var(--grey-300);
                        transition: all 150ms var(--ease-in-out);
                    }
                }
            }
        }

        .add {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: var(--font-xs);
            height: 36px;
            color: var(--grey-700);
            text-transform: uppercase;
            font-weight: var(--font-medium);
            width: calc(100% - 1rem);
            margin: 0 0.5rem 0.5rem;

            &:hover,
            &:focus {
                color: var(--grey-800);

                &::before {
                    opacity: 0.05;
                }
            }

            &:active {
                color: var(--primary-700);

                &::before {
                    opacity: 0.1;
                    background-color: var(--primary-700);
                }
            }

            &::before {
                content: "";
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: var(--grey-900);
                opacity: 0;
                border-radius: 0.25rem;
                transition: all 150ms var(--ease-in-out);
            }
        }
    }

    &.dice-modal {
        box-shadow: var(--shadow-sm);
        position: absolute;
        width: 300px;
        z-index: 1000;
        border-radius: 0.25rem;
        overflow: hidden;
        
        .dice-box{
            background-color: var(--white);
            border-radius: 0.25rem;
            border-width: 0 1px 1px 1px;
            border-style: solid;
            border-color: var(--grey-200);
            padding: 0.5rem;

            .button {
                color: var(--white);
                width: 36px;
                height: 36px;
                padding: 0;
                border-radius: 50%;
    
                &:hover,
                &:focus,
                &:active {
                    color: var(--white);
                }
    
                i {
                    margin-right: 0;
                }
            }
    
            button {
                display: inline-flex;
                width: 36px;
                height: 36px;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                color: var(--grey-700);
                font-size: var(--font-sm);
                transition: all 150ms var(--ease-in-out);
                overflow: hidden;
                border-radius: 0.25rem;
                position: relative;
    
                &.is-active {
                    color: var(--grey-800);
    
                    &::before {
                        background-color: var(--grey-500);
                    }
                }
    
                &:hover,
                &:focus {
                    color: var(--grey-800);
    
                    &::before {
                        background-color: var(--grey-500);
                    }
                }
    
                &:active {
                    color: var(--primary-700);
    
                    &::before {
                        background-color: var(--primary-500);
                    }
                }
    
                &::before {
                    content: "";
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transition: all 150ms var(--ease-in-out);
                    border-radius: 50%;
                    opacity: 0.15;
                    background-color: transparent;
                }
    
                i {
                    display: inline-flex;
                    width: 24px;
                    height: 24px;
                    justify-content: center;
                    align-items: center;
    
                    svg {
                        width: 18px;
                        height: 18px;
                    }
                }
            }
        }
    }

    &.popup-image-modal{
        background-color: var(--white);
        border-radius: 0.25rem;
        box-shadow: var(--shadow-lg);
        position: absolute;
        overflow: hidden;
        z-index: 1000;
        visibility: visible;

        .container{
            display: block;
            width: 100%;
            padding: 0.5rem;
            border-radius: 0.5rem;
            position: relative;

            img{
                opacity: 0;
                transition: opacity 150ms var(--ease-in-out);
                object-fit: contain;
                width: 640px;
                height: 450px;
            }
        }
    }

    &.paint-modal{
        background-color: var(--white);
        border-radius: 0.25rem;
        box-shadow: var(--shadow-lg);
        position: absolute;
        width: 300px;
        overflow: hidden;
        z-index: 1000;

        .bttn {
            display: flex;
            width: 100%;
            height: 36px;
            align-items: center;
            padding: 0 0.5rem;
            cursor: pointer;
            color: var(--grey-700);
            font-size: var(--font-sm);
            transition: all 150ms var(--ease-in-out);
            overflow: hidden;
            border-radius: 0.25rem;
            position: relative;

            &:hover,
            &:focus {
                color: var(--grey-800);

                &::before {
                    background-color: var(--grey-500);
                }
            }

            &:active {
                color: var(--primary-700);

                &::before {
                    background-color: var(--primary-500);
                }
            }

            &::before {
                content: "";
                display: inline-block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                transition: all 150ms var(--ease-in-out);
                border-radius: 0.25rem;
                opacity: 0.15;
                background-color: transparent;
            }

            &.danger {
                &:active {
                    color: var(--danger-800);

                    &::before {
                        background-color: var(--danger-500);
                    }
                }
            }

            &.active{
                color: var(--primary-700);

                &::before {
                    background-color: var(--primary-500);
                }
            }

            i {
                display: inline-flex;
                width: 24px;
                height: 24px;
                justify-content: center;
                align-items: center;
                margin-right: 0.5rem;

                svg {
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }

    moveable-handle{
        cursor: move;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        background-color: var(--grey-900);
        padding: 0.5rem;
        transition: all 150ms var(--ease-in-out);

        &:hover{
            background-color: var(--grey-800);
        }

        &:active{
            background-color: var(--grey-900);
        }

        .modal-close {
            width: 24px;
            height: 24px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            color: var(--grey-100);

            &:hover,
            &:focus {
                color: var(--white);

                &::before {
                    opacity: 0.05;
                    transform: scale(1);
                }
            }

            &:active {
                color: var(--white);

                &::before {
                    opacity: 0.1;
                    transform: scale(1.15);
                }
            }

            &::before {
                content: "";
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: var(--white);
                opacity: 0;
                border-radius: 50%;
                transform: scale(0);
                transition: all 150ms var(--ease-bounce);
            }

            svg {
                width: 16px;
                height: 16px;
            }
        }
    }
}