.stat-block{
    .container{
        height: 600px;
        overflow-y: scroll;
        padding: 0.5rem;
        background-color: #fdf1dc;
        overscroll-behavior: contain;
        
        .stats{
            border-top: 4px solid #e69a28;
            border-bottom: 4px solid #e69a28;
            display: block;
            width: 100%;
            padding-bottom: 0.5rem;

            hr{
                display: block;
                width: calc(100% - 1rem);
                margin: 0.125rem auto 0;
                border-bottom: 2px solid var(--red);
            }

            .abilities{
                display: grid;
                width: 100%;
                grid-template-columns: repeat(6, 1fr);
            }
        }
    }
}