.tabletop {
    background-color: var(--white);
    box-shadow: var(--shadow-2xl);
    display: inline-block;
    max-height: calc(100vh - 6rem);
    max-width: calc(100vw - 4rem);
    overflow: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 1rem));

    &.has-border {
        border-color: rgba(0, 0, 0, 0.87);
        border-style: solid;
        border-width: 1px;
    }

    img {
        display: block;
        user-select: none;
        z-index: 1;
    }

    .pawn {
        position: absolute;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        z-index: 4;
        transition: all 900ms 300ms var(--ease-in-out), z-index 0ms linear;

        &.-player {
            & > i {
                background-color: var(--blue-600);
                border-color: darken(#3182ce, 7);
            }
        }

        &.-foe {
            & > i {
                background-color: var(--danger-600);
                border-color: darken(#e53e3e, 6);
            }
        }

        &.-friend {
            & > i {
                background-color: var(--success-600);
                border-color: darken(#38a169, 6);
            }
        }

        &.-npc {
            & > i {
                background-color: #805ad5;
                border-color: darken(#805ad5, 5);
            }
        }

        &.-dead {
            & > i {
                background-color: var(--white);
                border-color: var(--grey-300);
                color: var(--grey-700);

                svg {
                    width: 16px;
                    height: 16px;
                    pointer-events: none;
                }
            }
        }

        &:hover,
        &:focus,
        &:focus-within {
            z-index: 100;

            .nametag,
            .creature-hud {
                opacity: 1;
                visibility: visible;
            }
        }

        &:active {
            z-index: 100;

            .nametag {
                opacity: 0;
                visibility: hidden;
            }
        }

        & > i {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            border-radius: 50%;
            box-shadow: 1px 1px 3px rgba(51, 51, 51, 0.6);
            border-width: 0 0 2px 0;
            border-style: solid;

            &[draggable="true"] {
                cursor: grab;

                &:active + .creature-hud {
                    visibility: hidden;
                    opacity: 0;
                }
            }
        }

        .creature-hud {
            position: absolute;
            bottom: 100%;
            width: 300px;
            border-radius: 0.25rem;
            background-color: var(--white);
            box-shadow: var(--shadow-md);
            visibility: hidden;
            opacity: 0;
            transition: all 0ms linear;
            z-index: 101;

            &::before {
                z-index: -1;
                content: "";
                display: inline-block;
                width: 10px;
                height: 10px;
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translate(-50%, 5px) rotate(45deg);
                background-color: var(--white);
                box-shadow: var(--shadow-md);
            }
            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 100%;
                height: 0.75rem;
                width: 100%;
            }

            header {
                background-color: var(--grey-900);
                line-height: 24px;
                font-size: var(--font-xs);
                font-weight: var(--font-medium);
                color: var(--white);
                white-space: nowrap;
                text-transform: capitalize;
                height: 24px;
                padding: 0 0.5rem;
                border-radius: 0.25rem 0.25rem 0 0;
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;

                button {
                    width: 12px;
                    padding: 0;
                    height: 24px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;

                    &:hover,
                    &:focus{
                        svg{
                            opacity: 1;
                            transform: scale(1);
                        }
                    }
                    &:active{
                        opacity: 1;
                        transform: scale(1.15);
                    }

                    svg{
                        width: 10px;
                        height: 10px;
                        color: var(--white);
                        opacity: 0.6;
                        transform: scale(0.87);
                        transition: all 150ms var(--ease-in-out);
                        transform-origin: center;
                    }

                    &.dot{
                        &:hover,
                        &:focus {
                            &::before {
                                opacity: 0.87;
                                transform: scale(1.5);
                            }
                        }

                        &:active {
                            &::before {
                                opacity: 1;
                                transform: scale(2);
                            }
                        }

                        &::before {
                            content: "";
                            display: inline-block;
                            width: 4px;
                            height: 4px;
                            background-color: var(--white);
                            border-radius: 50%;
                            opacity: 0.6;
                            transition: all 150ms var(--ease-in-out);
                        }
                    }
                }
            }

            .creature-input {
                position: relative;
                display: block;
                width: 100%;

                i {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    color: var(--grey-700);
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0.5rem;
                    width: 24px;
                    height: 24px;
                    pointer-events: none;

                    svg {
                        width: 16px;
                        height: 16px;
                    }
                }
            }

            input[type="number"] {
                height: 36px;
                display: block;
                width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
                line-height: 36px;
                padding: 0 0.5rem 0 calc(24px + 0.75rem);
                background-color: var(--grey-100);
                border: 1px solid var(--grey-300);
                border-radius: 0.25rem;
                color: var(--grey-900);
                font-size: var(--font-md);
                transition: all 150ms var(--ease-in-out);

                &::placeholder {
                    color: var(--grey-700);
                }

                &:hover {
                    border-color: var(--primary-400);
                }

                &:focus {
                    border-color: var(--primary-400);
                    box-shadow: 0 0 0 5px var(--primary-100);
                    background-color: var(--white);
                }
            }

            .stat-block {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;

                div {
                    height: 24px;
                    line-height: 24px;
                    padding: 0 0.5rem;
                    color: var(--grey-700);
                    font-size: var(--font-sm);
                    border-width: 0 1px 1px 0;
                    border-style: solid;
                    border-color: var(--grey-300);
                    text-align: center;
                }
            }
        }

        .nametag {
            position: absolute;
            height: 24px;
            padding: 0 0.5rem;
            border-radius: 0.25rem;
            background-color: var(--grey-900);
            line-height: 24px;
            font-size: var(--font-xs);
            font-weight: var(--font-medium);
            color: var(--white);
            bottom: 100%;
            box-shadow: var(--shadow-md);
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
            transition: all 0ms linear;
            white-space: nowrap;
            text-transform: capitalize;
            z-index: 101;

            &::before {
                z-index: -1;
                content: "";
                display: inline-block;
                width: 10px;
                height: 10px;
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translate(-50%, 5px) rotate(45deg);
                background-color: var(--grey-900);
                box-shadow: var(--shadow-md);
            }
        }
    }

    table {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;

        tbody,
        tr {
            display: block;
            width: 100%;

            td {
                position: absolute;
                display: inline-flex;
                justify-content: center;
                align-items: center;

                &[data-type="1"] {
                    border-color: rgba(0, 0, 0, 0.6);
                    border-style: solid;
                    border-width: 1px 1px 0 0;
                }

                &.highlight {
                    &::after {
                        background-color: rgba(17, 207, 255, 0.4);
                    }
                }

                &:hover {
                    &::after {
                        background-color: rgba(255, 255, 255, 0.3);
                    }
                }

                &::after {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(255, 255, 255, 0);
                    transition: all 150ms var(--ease-in-out);
                    pointer-events: none;
                    z-index: 1;
                }
            }
        }
    }
}
.temp-image {
    position: absolute;
    opacity: 0;
    user-select: none;
    pointer-events: none;
}
