.tabletop {
    background-color: var(--white);
    box-shadow: var(--shadow-2xl);
    display: inline-block;
    max-height: calc(100vh - 6rem);
    max-width: calc(100vw - 4rem);
    overflow: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 1rem));

    &.has-border {
        border-color: rgba(0, 0, 0, 0.87);
        border-style: solid;
        border-width: 1px;
    }

    &[state="loading"]{
        tabletop-loading-spinner{
            display: block;
        }
        canvas{
            display: block;
            opacity: 0;
            visibility: hidden;
        }
    }

    &[state="loaded"]{
        canvas{
            display: block;
        }
        death-canvas{
            display: inline-block;
        }
    }

    &[painter="active"]{
        cursor: url("../fill-cursor.png"), cell;

        .pawn{
            pointer-events: none;
        }
    }

    .curtian{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 300ms var(--ease-in-out);
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        z-index: 9999;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: var(--white);

        &.-hidden{
            opacity: 1;
            pointer-events: all;
            visibility: visible;
            transition: all 0ms var(--ease-in-out);
        }
    }

    canvas {
        display: none;
        user-select: none;
        z-index: 1;
    }

    sfx-canvas{
        position: absolute;
        pointer-events: none;
        user-select: none;
        width: 100%;
        height: 100%;
        z-index: 2;

        canvas{
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    death-canvas{
        position: absolute;
        pointer-events: none;
        user-select: none;
        width: 100%;
        height: 100%;
        z-index: 2;
        display: none;

        canvas{
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .pawn {
        position: absolute;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        transform-origin: left top;
        z-index: 4;
        transition: transform 600ms var(--ease-in-out), z-index 0ms linear;

        &.-player {
            z-index: 6;
            & > i {
                background-color: var(--blue-600);
                border-color: darken(#3182ce, 7);
            }
        }

        &.-foe {
            & > i {
                background-color: var(--danger-600);
                border-color: darken(#e53e3e, 6);
            }
        }

        &.-friend {
            & > i {
                background-color: var(--success-600);
                border-color: darken(#38a169, 6);
            }
        }

        &.-npc {
            & > i {
                background-color: #805ad5;
                border-color: darken(#805ad5, 5);
            }
        }

        &.-dead {
            & > i {
                background-color: var(--white);
                border-color: var(--grey-300);
                color: var(--grey-700);

                svg {
                    width: 16px;
                    height: 16px;
                    pointer-events: none;
                }
            }
        }

        &.-invisible{
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
        }

        &.-ghost{
            & > i {
                opacity: 0.6;
            }
        }

        &.-removed{
            opacity: 0 !important;
            visibility: hidden !important;
            transition: all 0ms 0ms linear !important;
            pointer-events: none !important;
        }

        &:hover,
        &:focus,
        &:focus-within {
            z-index: 100;

            .nametag,
            .creature-hud {
                opacity: 1;
                visibility: visible;
            }
        }

        &:active {
            z-index: 100;

            .nametag {
                opacity: 0;
                visibility: hidden;
            }
        }

        & > i {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            border-radius: 50%;
            box-shadow: 1px 1px 3px rgba(51, 51, 51, 0.6);
            border-width: 0 0 2px 0;
            border-style: solid;
            z-index: 2;

            &[draggable="true"] {
                cursor: grab;

                &:active ~ .creature-hud {
                    visibility: hidden !important;
                    opacity: 0 !important;
                }
            }
        }

        .burning{
            background-image: url("../images/fire.png");
            background-position-x: 0px;
            background-position-y: 0px;
            background-repeat: no-repeat;
            background-size: calc(96px * 12) 96px;
            position: absolute;
            width: 96px;
            height: 96px;
            user-select: none;
            pointer-events: none;
            animation: fire 900ms 0ms linear infinite;
            transform: translateY(-26px);
            filter: drop-shadow(0 0 16px rgba(#FF8800, 0.87)) drop-shadow(0 0 8px rgba(#feff00, 0.6)) opacity(0.87);
        }

        .poison{
            background-image: url("../images/poison.png");
            background-position-x: 0px;
            background-position-y: 0px;
            background-repeat: no-repeat;
            background-size: calc(96px * 8) 96px;
            position: absolute;
            width: 96px;
            height: 96px;
            user-select: none;
            pointer-events: none;
            animation: poison 1200ms 0ms linear infinite;
            filter: drop-shadow(0 0 16px rgba(#b3e800, 0.87)) opacity(0.87) brightness(1.5);
        }

        .concentration-ring{
            position: absolute;
            width: 36px;
            height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0.87;

            &::before,
            &::after{
                content: "";
                display: inline-block;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                position: absolute;
            }

            &::before{
                border: 2px solid rgb(90, 20, 255);
                box-shadow: 0 0 8px rgba(90, 20, 255,0.87);
            }

            &::after{
                border-bottom: 2px solid rgb(231, 220, 255);
                animation: spinRing 600ms 0ms linear infinite;
                transform-origin: center center;
            }
        }

        .stunned-ring{
            position: absolute;
            width: 36px;
            height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0.87;

            &::before,
            &::after{
                content: "";
                display: inline-block;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                position: absolute;
            }

            &::before{
                border: 2px solid rgb(255, 233, 35);
                box-shadow: 0 0 8px rgba(255, 233, 35,0.87);
            }

            &::after{
                border-bottom: 2px solid rgb(255, 255, 255);
                animation: spinRing 600ms 0ms linear infinite;
                transform-origin: center center;
            }
        }

        .restrained-ring{
            position: absolute;
            width: 36px;
            height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0.87;

            &::before{
                content: "";
                display: inline-block;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                position: absolute;
            }

            &::before{
                border: 2px solid rgb(128, 83, 16);
                box-shadow: 0 0 8px rgba(128, 83, 16,0.87);
                transform: scale(1);
                animation: restrainedRing 2s 0ms var(--ease-in-out) infinite;
            }
        }

        .unconscious-ring{
            position: absolute;
            width: 36px;
            height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0.87;

            &::before,
            &::after{
                content: "";
                display: inline-block;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                position: absolute;
            }

            &::before{
                border: 2px solid rgb(32, 32, 32);
                box-shadow: 0 0 8px rgba(32, 32, 32,0.87);
            }

            &::after{
                border-bottom: 2px solid rgb(255, 255, 255);
                animation: spinRing 600ms 0ms linear infinite;
                transform-origin: center center;
            }
        }

        .poison-ring{
            position: absolute;
            width: 36px;
            height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0.87;

            &::before{
                content: "";
                display: inline-block;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                position: absolute;
            }

            &::before{
                border: 2px solid rgb(116, 255, 24);
                box-shadow: 0 0 8px rgba(116, 255, 24,0.87);
                opacity: 0;
                transform: scale(0);
                animation: poisonRing 3s 0ms var(--ease-out) infinite;
            }
        }

        .burning-ring{
            position: absolute;
            width: 36px;
            height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0.87;

            &::before{
                content: "";
                display: inline-block;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                position: absolute;
            }

            &::before{
                border: 2px solid rgb(255, 136, 24);
                box-shadow: 0 0 8px rgba(255, 232, 24, 0.87);
                animation: burningRing 2s 0ms linear infinite;
            }
        }

        .bleeding-ring{
            position: absolute;
            width: 36px;
            height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0.87;

            &::before{
                content: "";
                display: inline-block;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                position: absolute;
            }

            &::before{
                border: 2px solid rgb(255, 28, 85);
                box-shadow: 0 0 8px rgba(255, 28, 85, 0.87);
                animation: bleedingRing 2s 0ms linear infinite;
            }
        }

        .charmed-ring{
            position: absolute;
            width: 36px;
            height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0.87;

            &::before,
            &::after{
                content: "";
                display: inline-block;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                position: absolute;
            }

            &::before{
                border: 2px solid rgb(252, 49, 208);
                box-shadow: 0 0 8px rgba(252, 49, 208, 0.87);
            }

            &::after{
                border-bottom: 2px solid rgb(255, 255, 255);
                animation: spinRing 600ms 0ms linear infinite;
                transform-origin: center center;
            }
        }

        .creature-hud {
            position: absolute;
            top: 0;
            left: 0;
            width: 300px;
            border-radius: 0.25rem;
            background-color: var(--white);
            box-shadow: var(--shadow-md);
            visibility: hidden;
            opacity: 0;
            transition: all 0ms linear;
            z-index: 101;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 100%;
                height: 0.75rem;
                width: 100%;
            }

            &[data-view="1"]{
                [data-view="1"]{
                    display: block;
                }
            }
            &[data-view="2"]{
                [data-view="2"]{
                    display: block;
                }
            }
            &[data-view="3"]{
                [data-view="3"]{
                    display: block;
                }
            }
            &[data-view="4"]{
                [data-view="4"]{
                    display: block;
                }
            }

            header {
                background-color: var(--grey-900);
                line-height: 24px;
                font-size: var(--font-xs);
                font-weight: var(--font-medium);
                color: var(--white);
                white-space: nowrap;
                text-transform: capitalize;
                height: 24px;
                padding: 0 0.5rem;
                border-radius: 0.25rem 0.25rem 0 0;
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;

                button {
                    width: 12px;
                    padding: 0;
                    height: 24px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;

                    &:hover,
                    &:focus{
                        svg{
                            opacity: 1;
                            transform: scale(1);
                        }
                    }
                    &:active{
                        opacity: 1;
                        transform: scale(1.15);
                    }

                    svg{
                        width: 10px;
                        height: 10px;
                        color: var(--white);
                        opacity: 0.6;
                        transform: scale(0.87);
                        transition: all 150ms var(--ease-in-out);
                        transform-origin: center;
                    }

                    &.dot{
                        &:hover,
                        &:focus {
                            &::before {
                                opacity: 0.87;
                                transform: scale(1.5);
                            }
                        }

                        &:active {
                            &::before {
                                opacity: 1;
                                transform: scale(2);
                            }
                        }

                        &::before {
                            content: "";
                            display: inline-block;
                            width: 4px;
                            height: 4px;
                            background-color: var(--white);
                            border-radius: 50%;
                            opacity: 0.6;
                            transition: all 150ms var(--ease-in-out);
                        }
                    }
                }
            }

            [data-view]{
                display: none;
            }

            .creature-input {
                position: relative;
                display: block;
                width: 100%;

                i {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    color: var(--grey-700);
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0.5rem;
                    width: 24px;
                    height: 24px;
                    pointer-events: none;

                    svg {
                        width: 16px;
                        height: 16px;
                    }
                }
            }

            input[type="number"] {
                height: 36px;
                display: block;
                width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
                line-height: 36px;
                padding: 0 0.5rem 0 calc(24px + 0.75rem);
                background-color: var(--grey-100);
                border: 1px solid var(--grey-300);
                border-radius: 0.25rem;
                color: var(--grey-900);
                font-size: var(--font-md);
                transition: all 150ms var(--ease-in-out);

                &::placeholder {
                    color: var(--grey-700);
                }

                &:hover {
                    border-color: var(--primary-400);
                }

                &:focus {
                    border-color: var(--primary-400);
                    box-shadow: 0 0 0 5px var(--primary-100);
                    background-color: var(--white);
                }
            }

            .stat-block {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;

                div {
                    height: 24px;
                    line-height: 24px;
                    padding: 0 0.5rem;
                    color: var(--grey-700);
                    font-size: var(--font-sm);
                    border-width: 0 1px 1px 0;
                    border-style: solid;
                    border-color: var(--grey-300);
                    text-align: center;
                }
            }
        }

        .nametag {
            position: absolute;
            height: 24px;
            padding: 0 0.5rem;
            border-radius: 0.25rem;
            background-color: var(--grey-900);
            line-height: 24px;
            font-size: var(--font-xs);
            font-weight: var(--font-medium);
            color: var(--white);
            bottom: 100%;
            box-shadow: var(--shadow-md);
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
            transition: all 0ms linear;
            white-space: nowrap;
            text-transform: capitalize;
            z-index: 101;

            &::before {
                z-index: -1;
                content: "";
                display: inline-block;
                width: 10px;
                height: 10px;
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translate(-50%, 5px) rotate(45deg);
                background-color: var(--grey-900);
                box-shadow: var(--shadow-md);
            }
        }
    }

    .table {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
    }

    tabletop-loading-spinner{
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: center;
        transform: translate(-50%, -50%);
        text-align: center;
        display: none;

        svg{
            display: block;
            color: var(--grey-700);
            width: 48px;
            height: 48px;
            margin: 0 auto;
        }

        p{
            white-space: nowrap;
        }
    }
}
.temp-image {
    position: absolute;
    opacity: 0;
    user-select: none;
    pointer-events: none;
}
@keyframes fire{
    0%, 8.2% {
        background-position-x: 0;
    }
    8.3%, 16.5% {
        background-position-x: -96px;
    }
    16.6%, 24.8% {
        background-position-x: -192px;
    }
    24.9%, 33.1% {
        background-position-x: -288px;
    }
    33.2%, 41.4% {
        background-position-x: -384px;
    }
    41.5%, 49.7% {
        background-position-x: -480px;
    }
    49.8%, 58% {
        background-position-x: -576px;
    }
    58.1%, 66.3% {
        background-position-x: -672px;
    }
    66.4%, 74.6% {
        background-position-x: -768px;
    }
    74.7%, 82.9% {
        background-position-x: -864px;
    }
    83%, 91.2% {
        background-position-x: -960px;
    }
    91.3%, 99.5% {
        background-position-x: -1056px;
    }
    99.6%, 100% {
        background-position-x: -1152px;
    }
}
@keyframes poison{
    0%, 6.24% {
        background-position-x: 0;
        opacity: 1;
    }
    6.25%, 12.4% {
        background-position-x: -96px;
        opacity: 1;
    }
    12.5%, 18.74% {
        background-position-x: -192px;
        opacity: 1;
    }
    18.75%, 24.9% {
        background-position-x: -288px;
        opacity: 1;
    }
    25%, 31.24% {
        background-position-x: -384px;
        opacity: 1;
    }
    31.25%, 37.4% {
        background-position-x: -480px;
        opacity: 0.87;
    }
    37.5%, 43.74%{
        background-position-x: -576px;
        opacity: 0.6;
    }
    43.75%, 50%{
        background-position-x: -672px;
        opacity: 0.3;
    }
    50.1%, 100%{
        background-position-x: -672px;
        opacity: 0;
    }
}
@keyframes spinRing{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes burningRing{
    0%, 25%{
        border-color: rgb(255, 136, 24);
    }
    50%{
        border-color: rgb(255, 240, 24);
    }
    75%{
        border-color: rgb(255, 39, 24);
    }
    100%{
        border-color: rgb(255, 136, 24);
    }
}
@keyframes bleedingRing{
    0%{
        border-color: rgb(255, 28, 85);
    }
    5%{
        border-color: rgb(255, 139, 168);
    }
    10%, 100%{
        border-color: rgb(255, 28, 85);
    }
}
@keyframes poisonRing{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    15%{
        opacity: 1;
        transform: scale(1);
    }
    25%, 100%{
        opacity: 0;
        transform: scale(1.5);
    }
}
@keyframes restrainedRing{
    0%{
        transform: scale(1);
        border-color: rgb(128, 83, 16);
    }
    50%{
        transform: scale(0.95);
        border-color: rgb(105, 70, 16);
    }
    100%{
        transform: scale(1);
        border-color: rgb(128, 83, 16);
    }
}